:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  --primary-text-color: #ffffff;
  --primary-background-color: #1b1b1b;

  --secondary-background-color: #2d2727;
  --accent-color: #f65282;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-size: 18px;
}
h1 {
  font-size: 64px;
  margin-top: 30px;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

p {
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 48px;
}

i {
  margin-right: 30px;
  margin-bottom: 64px;
}

.hero {
  text-align: center;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 24px;
  line-height: 28px;
}
.hero h2 {
  font-size: 72px;
  line-height: 84px;
}
.hero p {
  margin-bottom: 32px;
}
.btn-branding {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
  padding: 18px 59px;
  border-radius: 50px;
  background-color: var(--primary-text-color);
  color: #000;
}

.photo-gallery {
  margin-top: 80px;
}

.photo-gallery img {
  height: 250px;
  margin: 20px;
}

.about-info {
  padding-left: 14px;
  margin: auto;
}

.subheadings,
.camera-name {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
}
.camera-name {
  text-transform: none;
  color: var(--primary-text-color);
}
.camera {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 4px;
  margin: 30px 0 64px;
}

@media (max-width: 576px) {
  .hero h2,
  h1 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .about-info {
    text-align: center;
  }
  .personal-photo {
    max-width: 70%;
    display: block;
    margin: 32px auto;
  }
}
